.loginRouter {
    border: 1px solid black;
    width: 85%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ============================== leftSection ============================== */
.leftSection {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-right: 1px solid #80808066;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.loginLogoBox {
    display: flex;

}

/* ============================== rightSection ============================== */
.rightSection {
    width: 50%;
    text-align: center;
}

.rightSection img {
    width: 10rem;
}

.rightSection .inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSection .loginInput {
    width: 20rem;
    margin: 0.8rem;
}