
/* 테이블 기본 */
.admin-scope .rzTable {
  width:100%;
  border-collapse: separate; border-spacing:0;
  table-layout: fixed;
  font-size:0.5px; line-height:1.2;
}

.admin-scope .rzTable th, .rzTable td {
  position:relative;
  padding:6px 8px;
  text-align:center;
  white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
  border-bottom:1px solid #eee;
  border-right:1px solid #ddd;             /* 모든 세로 보더 */
}

/* 헤더/첫열 고정 */
.admin-scope .rzTable thead th { position:sticky; top:-1px; z-index:5; background:#fff; font-weight:600; }
.admin-scope .rzTable.has-sticky-first th.sticky-first,
.admin-scope .rzTable.has-sticky-first td.sticky-first { position:sticky; left:0; z-index:6; background:#fff;  }

/* 보더 시각 가이드 (hover 표시) */
.admin-scope .rz-border-visual { position:absolute; right:-20px; top:0; width:6px; height:100%; pointer-events:none; cursor: col-resize; }
.admin-scope .rzTable th:hover .rz-border-visual, .rzTable td:hover .rz-border-visual { background-color: rgba(0,0,0,.08); }

/* 드래그용 임시 가이드선 */
.admin-scope .resize-guide {
  position:absolute; top:0; width:2px; height:100%;
  background: rgba(0,191,99,.9);
  z-index: 999; pointer-events:none; display:none;
}

/* 행 UX */
.admin-scope .rzTable tbody tr:nth-child(odd){ background: rgba(0,0,0,.03); }
.admin-scope .rzTable tbody tr:hover{ background: rgb(235,255,245); }
.admin-scope .rzTable tbody tr.active{ background: hsla(145,100%,65%,.2); }
.admin-scope .rzTable tbody tr.active td{ color:#000; cursor: pointer;  }


.rzTable tr.no-data td { height: auto !important; line-height: 1.6 !important; white-space: normal !important; padding: 20px 0 !important; }

/* 호버/커서 비활성화(선택) */
.rzTable tr.no-data:hover { background: inherit; cursor: default; }


/* 반응형 */
@media (max-width:1100px){
  .admin-scope .rzTable th, .rzTable td { font-size:11px; padding:4px 6px; }
}
