.projectResultBox {
    display: flex;
    justify-content: space-between;
}

.inputResultBox {
    border: 1px solid black;
    width: 49%;
}

.outputResultBox {
    border: 1px solid black;
    width: 49%;
}

.resultTitle {
    font-size : 1.25rem;
    font-weight: 600;
    margin: 0.5rem;
}

.projectResultTopBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.projectResultTopBar > :nth-child(1){
    margin-right: 1rem;
    color : #7F7F7F;
    font-size: 0.92rem;
    font-weight: 600;
}
